* {
  margin: 0;
  box-sizing: border-box;
}
/***************** Variable Styling for this Stylesheet *****************/
:root {
  --bg-color1: #1f2937;
  --bg-color2: #3882f6;
  --bg-color3: #e5e7eb;
  --font-color: #f9faf8;
  --font-family: 'Poiret One', cursive;
  --main-padding: 0px 30px 0px 30px;
}
/***************** Navigation bar *****************/
nav.bg-navi {
  background-color: var(--bg-color1);
}
/***************** Navigation links *****************/
.nav-link {
  color: var(--font-color);
  text-decoration: none;
  display: block;
  padding: 10px 0 10px 0;
  font-size: 18px;
  font-family: var(--font-family);
  width: 110px;
}
/***************** Navigation bar *****************/
a.navi-brand {
  color: var(--font-color);
  font-size: 30px;
  font-family: 'Charmonman', cursive;
}
/***************** First Section Container *****************/
div.hero {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color1);
  justify-content: center;
  align-items: center;
}
div.hero-main {
  padding: 0px 0px 0px 0px;
  margin-top: 20px;
}
/******* First Section Main text ********/
div.hero > div.hero-main p.hero-main-text {
  color: var(--font-color);
  font-size: 40px;
  font-family: 'Comic Neue', cursive;
  font-weight: bolder;
  padding: var(--main-padding);
}
/************ First Section Sub-text ************/
div.hero > div.hero-main p.hero-sub-text {
  color: var(--font-color);
  font-size: 20px;
  font-family: 'Major Mono Display', monospace;
  padding: var(--main-padding);
}
div.hero > div.hero-main p.hero-sub-text2 {
  color: var(--font-color);
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  padding: var(--main-padding);
}
div.location > i {
  margin-right: 10px;
  font-size: 25px;
}
div.location {
  color: var(--font-color);
  padding: var(--main-padding);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-family: 'Dosis', cursive;
}
div.socials{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
div.socials > a > i{
  color: var(--font-color);
  padding: 10px;
  font-size: 25px;
}
div.socials > a > i.fa.fa-github:hover{
  color: gray ;
}
div.socials > a > i.fa.fa-whatsapp:hover{
  color: green ;
}
div.socials > a > i.fa.fa-linkedin:hover{
  color: rgb(47, 47, 207) ;
}
div.socials > a > i.fa.fa-twitter:hover{
  color: blue ;
}
div.socials > a > i.fa.fa-instagram:hover{
  color: purple ;
}
/******* First Section Image *******/
div.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 0px;
}
img {
  padding: 0px 0px 0px 0px;
  object-fit: contain;
}
/***** Container for 'Download Resume' button *****/
div.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
/************ 'Download Resume' button ************/
div.btn > button {
  padding: 10px;
  width: 200px;
  background-color: var(--bg-color2);
  border: none;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
}
div.btn > button {
  text-decoration: none;
  color: var(--font-color);
  outline: none;
  border: none;
}
div.btn > button > i {
  padding-left: 10px;
}
div.btn > button > a {
  text-decoration: none;
  color: var(--font-color);
  outline: none;
  border: none;
}
/************** Modal Content ***************/
div.modal-header > h3 {
  font-size: 25px;
  height: 35px;
}
label {
  font-size: 20px;
  font-family: Arial;
}
label > input {
  margin: px;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--bg-color1);
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 280px;
  height: 40px;
}
label > textarea {
  display: block;
  border: 1px solid var(--bg-color1);
  resize: none;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-size: 15px;
  width: 280px;
}
div.modal-btn {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
div.contact-me-btn {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 2%;
  right: 10px;
}
div.contact-me-btn > button {
  height: 40px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.contact-me-btn > button:focus {
  box-shadow: none;
}
div.modal-header > button.btn-close:focus {
  box-shadow: none;
}
/***************** Tech Stack Section Container *****************/
div.stack-main-text > p {
  text-align: center;
  font-size: 45px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bolder;
}
p.stack-text {
  margin: 10px 0 10px 30px;
  font-size: 20px;
  font-weight: bolder;
}
p.stack-text > i.fa.fa-html5 {
  font-size: 30px;
  color: #e34c26;
}
p.stack-text > i.fa.fa-css3 {
  font-size: 30px;
  color: #264de4;
}
p.stack-text > img {
  margin-left: 10px;
}
.stack-container {
  background-color: #ddd;
  margin: 0px 20px 20px 0;
  height: 35px;
  border-radius: 5px;
}
.stack-container > .skills {
  text-align: right;
  padding: 10px 10px 20px 0;
  color: var(--font-color);
  height: 35px;
  border-radius: 5px;
}
div.bootstrap-container{
  display: flex;
  align-items: center;
}
div.bootstrap-container > div.bootstrap-container-text{
  text-align: center;
  font-size: 20px;
  font-family: Arial;
  font-weight: bolder;
  margin: 10px 0 10px 30px;
  padding-right: 10px;
}
div.bootstrap-container > div.bootstrap-container-image{
  padding-left: 35px;
}
.html {
  width: 100%;
  background-color: #e34c26;
}
.css {
  width: 80%;
  background-color: #264de4;
}
.bootstrap {
  width: 70%;
  background-color: #563d7c;
}
/***************** Project Section Container *****************/
div.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/******* Project Images Container *******/
div.project > div > div.project-main {
  width: 200px;
  height: 200px;
  border: 2px solid var(--bg-color2);
  border-radius: 10px;
  margin: 20px;
  padding: 5px 5px 5px 5px;
}
button > a.btn-link{
  font-size: 15px;
  color: var(--font-color);
  text-decoration: none;
  padding: 20px 10px 20px 10px;
}
button > a.btn-link-preview{
  font-size: 16px;
  color: black;
  text-decoration: none;
  padding: 20px 10px 20px 10px;
}
/******* Project Images *******/
/******* Project Section Main Text *******/
p.project-main-text {
  margin-top: 40px;
  color: black;
  font-size: 40px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0;
}
/****************** Footer Section *****************/
footer {
  background-color: var(--bg-color1);
  text-align: center;
  color: var(--font-color);
  font-family: var(--font-family); 
  font-size: 16px;
  padding: 20px;
}
footer > span{
  font-family:'Charmonman', cursive ;
}
@media only screen and (min-width: 375px) {
  label > input {
    width: 330px;
  }
  label > textarea {
    width: 330px;
  }
}
@media only screen and (min-width: 425px) {
  label > input {
    width: 380px;
  }
  label > textarea {
    width: 380px;
  }
}
@media only screen and (min-width: 768px) {
  label > input {
    width: 470px;
  }
  label > textarea {
    width: 470px;
  }
}
/* Laptop Screen Size */
@media only screen and (min-width: 1024px) {
  div.hero {
    display: flex;
    flex-direction: row;
  }
  div.img {
    width: 650px;
  }
  img {
    margin: 0 0px 0 0;
    padding: 0;
  }
  div.info {
    flex-direction: row;
  }
  div.project {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  p.project-main-text {
    margin-bottom: 20px;
  }
  div.project > div > div.project-main img {
    display: flex;
    justify-content: initial;
    align-items: center;
    border-radius: 10px;
    object-fit: cover;
    padding: 5px 5px 5px 5px;
  }
  div.contact {
    flex-direction: row;
    justify-content: flex-start;
  }
  div.contact > p.contact-text {
    text-align: left;
    padding-bottom: 0px;
    font-size: 35px;
  }
  div.contact > form > textarea {
    margin: 30px 0 0 90px;
  }
  div.contact > form > input {
    margin-top: 20px 0 0 40px;
    width: 300px;
  }
  footer > div.socials {
    display: inline;
  }
  footer > div.socials > a > i {
    font-size: 25px;
    text-decoration: none;
    color: var(--font-color);
    height: 25px;
    margin: px px px 10px;
    padding-top: 10px;
  }
  footer > div.socials > a > i.fa.fa-github{
    margin: 15px;
  }
  footer > div.socials > a > i.fa.fa-facebook-square{
    margin: 15px;
  }
  footer > div.socials > a > i.fa.fa-instagram{
    margin: 15px;
  }
  footer > div.socials > a > i.fa.fa-linkedin{
    margin: 15px;
  }
  footer > div.socials > a > i.fa.fa-whatsapp{
    margin: 15px;
  }
  footer > div.socials > a > i.fa.fa-twitter{
    margin: 15px;
  }
  footer > div.socials > a > i:hover {
    color: var(--bg-color2)
  }
  footer > div.socials {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
  }
}
